# Python divides the operators in the following groups:

• Arithmetic operators <br>
• Assignment operators <br>
• Comparison operators <br>
• Logical operators <br>
• Identity operators <br>
• Membership operators <br>
• Bitwise operators <br>

## Python Arithmetic Operators

In [50]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

### Arithmetic Operators Example

In [51]:
a : int = 7
b : int = 2

print(f"{a} + {b} = {a+b}") # addtition
print(f"{a} - {b} = {a-b}") # subtraction
print(f"{a} * {b} = {a*b}") # multiplication
print(f"{a} / {b} = {a/b}") # division
print(f"{a} % {b} = {a%b}") # Modulus(give remainder after division)
print(f"{a} ** {b} = {a**b}") # Exponential(x(value before operator) raise to the power y(value after operator))
print(f"{a} // {b} = {a//b}") # Float division(It gives the nearest whole number of the answer of division)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 % 2 = 1
7 ** 2 = 49
7 // 2 = 3

We also add number there in the place of variables

In [52]:
print(f"{6} + {9} = {6+9}") # addtition
print(f"{7} - {2} = {7-3}") # subtraction
print(f"{9} * {7} = {9*7}") # multiplication
print(f"{9} / {7} = {9/7}") # division
print(f"{9} % {7} = {9%7}") # Modulus(give remainder after division)
print(f"{9} ** {7} = {9**7}") # Exponential(x(value before operator) raise to the power y(value after operator))
print(f"{9} // {7} = {9//7}") # Float division(It gives the nearest whole number of the answer of division)

6 + 9 = 15
7 - 2 = 4
9 * 7 = 63
9 / 7 = 1.2857142857142858
9 % 7 = 2
9 ** 7 = 4782969
9 // 7 = 1

## Python Assignment Operators

In [53]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

##### We mostly use first 7 operators other are not use mostly.
##### The recommendable syntax is to use simple(a=a+3) because the other method is complex

### Python Assignment Operator Example

In [54]:
# assign
a=5
# assigning and adding same value
a+=3
# assigning and subtracting same value
a-=3
# assigning and multiplication same value
a*=3
# assigning and dividing same value
a/=3
# assigning and modulus same value
a%=4
# assigning and FLOAT DIVISION same value
a//=2
# assigning and exponential same value
a**=4

#:=
print(a := 7)

7

## Python Comparison Operators

In [55]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

### Comparison operators are used to compare two values and the always return boolean(true or false)

### Python Comparision Operators Example

In [56]:
x=6
y=7
print(f"{x} == {y}: {x==y}") # Equal Operator
print(f"{x} != {y}: {x!=y}") # Not equal Operator
print(f"{x} > {y}: {x>y}") # Greater than Operator
print(f"{x} < {y}: {x<y}") # Less than Operator
print(f"{x} >= {y}: {x>=y}") # Greater than or equal to Operator
print(f"{x} <= {y}: {x<=y}") # Less than or equal to Operator

6 == 7: False
6 != 7: True
6 > 7: False
6 < 7: True
6 >= 7: False
6 <= 7: True

# Pyhton Logical Operators

In [57]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

### Logical operators are used to combine conditional statements, it is used with comparision operators

### Logical Operators Example

In [58]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [59]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

###

In [60]:
c=3
d=5
print(f"{d} > {c} and {c} <= {d}: {d > c and c <= d}") # and operator example(here both conditions are true)
print(f"{d} > {c} and {c} >= {d}: {d > c and c >= d}") # and operator example(here only one condition is true)
print(f"{d} > {c} or {d} <= {c}: {d > c or d <= c}") # or operator example(here first condition is true)

print(f"not({d} > {c} or {d} <= {c}): {not(d > c or d <= c)}") # or operator example(here first condition is true and the answer is true but it gives false due to not)
# Or
name : str = "Qasim"
print(f"not name == \"Qasim\": {not name =="Qasim"}")
# name == "Qasim"
# "Qasim" == "Qasim"
# True

5 > 3 and 3 <= 5: True
5 > 3 and 3 >= 5: False
5 > 3 or 5 <= 3: True
not(5 > 3 or 5 <= 3): False
not name == "Qasim": False

# Python Identity Operators

In [61]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

##### Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

### Python Identity operators example

In [62]:
e:list[str] = ["apple", "banana"]
f:list[str] = ["apple", "banana"]
z = e

print(e is z)

# returns True because z is the same object as e

print(e is f)

# returns False because e is not the same object as f, even if thef have the same content

print(e == f)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because e is equal to f

print(e is not z)

# returns False because z is the same object as e

print(e is not f)

# returns True because e is not the same object as f, even if thef have the same content

print(e != f)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because e is equal to f

True
False
True
False
True
False

# Python Membership Operator

In [63]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

##### Membership operators are used to test if a sequence is presented in an object:

### Python Membership Operators Example

In [64]:
# chr(ascii code of the charater and it prints the character)
# ord(character and it tells us the ascii code of character)

names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break
    

print("it is the example of in operator","D" in names)

0 A
1 B
2 C
3 D
True
it is the example of in operator True

In [65]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

print("It give False because Pakistan is not in names(due to we use in operator)","Pakistan" in names)
print("It give True because Pakistan is not in names(due to we use not in operator instead of in operator)","Pakistan" in names)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

It give False because Pakistan is not in names(due to we use in operator) False
It give True because Pakistan is not in names(due to we use not in operator instead of in operator) False

# Presedency of Arithmetic Operators or PEDMAS,BODMAS

In [66]:
table[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

In [67]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

# If we multiply a string with 3(any int)

In [68]:
print(3*"a")
# aaa

aaa

The Zen of Python, by Tim Peters

Beautiful is better than ugly. <br>
Explicit is better than implicit. <br>
Simple is better than complex. <br>
Complex is better than complicated. <br>
Flat is better than nested. <br>
Sparse is better than dense. <br>
Readability counts. <br>
Special cases aren't special enough to break the rules. <br>
Although practicality beats purity. <br>
Errors should never pass silently. <br>
Unless explicitly silenced. <br>
In the face of ambiguity, refuse the temptation to guess. <br>
There should be one-- and preferably only one --obvious way to do it. <br>
Although that way may not be obvious at first unless you're Dutch. <br>
Now is better than never. <br>
Although never is often better than *right* now. <br>
If the implementation is hard to explain, it's a bad idea. <br>
If the implementation is easy to explain, it may be a good idea. <br>
Namespaces are one honking great idea -- let's do more of those! <br>